rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /recipes/{document=**} {
      // allow read, write ;
      // allow read, update, delete, create;

      // only authenticated users can access the data
      allow create,read : if request.auth != null;
      
      // provide access based on who is currently loged in
      allow delete, update : if request.auth.uid == resource.data.uid;
    }
  }
}