.reset-pass-form {
    max-width: 360px;
    margin: 60px auto;
    padding: 20px;
  }
  .reset-pass-form label {
    display: block;
    margin: 30px auto;
  }
  .reset-pass-form span {
    display: block;
    margin-bottom: 6px;
  }
  .reset-pass-form input {
    padding: 8px 6px;
    font-size: 1em;
    color: #777;
    width: 100%;
  }

  .reset-pass-form .btn{
    display: block;
    flex: auto;
    width: 100px;
    font-size: 1em;
    color: #fff;
    padding: 8px 20px;
    border: 0;
    border-radius: 4px;
    background-color: #58249c;
    cursor: pointer;
    text-decoration: none;
    margin: 20px auto;
  }