.signup-form {
    max-width: 360px;
    margin: 60px auto;
    padding: 20px;
  }
  .signup-form label {
    display: block;
    margin: 30px auto;
  }
  .signup-form span {
    display: block;
    margin-bottom: 6px;
  }
  .signup-form input {
    padding: 8px 6px;
    font-size: 1em;
    color: #777;
    width: 100%;
  }

  .signup-form .btn{
    display: block;
    width: 100px;
    font-size: 1em;
    color: #fff;
    padding: 8px 20px;
    border: 0;
    border-radius: 4px;
    background-color: #58249c;
    cursor: pointer;
    text-decoration: none;
    margin: 20px auto;
  }

.signup-form .google-auth-button{
  position: relative;
}

.signup-form .google-auth-button .google-btn{
  position: absolute;
  left: 15%;
}